
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" src="~/images/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
        <h1 class="w3-xxlarge">Tasty Recipes</h1>
    </div>
</header>
<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img src="~/images/tablesetting2.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
        </div>

        <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center">About Tasty</h1><br>
            <p class="w3-large">
                Tasty is a multinational cooking community where people from all over the world share their tasty recipes.
                We are really proud of our job because it helps to connect different cultures and people together.
                Do not be scared to upload your recipe even if it is nor perfect. Nobody will ever get ashamed here because in our friendly
                community people are willing to help and give advise to unexperienced cooks. If you do not believe, <span class="w3-tag w3-light-grey">then try out</span>!
            </p>
            <p class="w3-large w3-text-grey w3-hide-medium">
                Tasty est une communauté de cuisine multinationale où des gens du monde entier partagent leurs délicieuses recettes.
                Nous sommes vraiment fiers de notre travail car il aide à connecter différentes cultures et différentes personnes.
                N'ayez pas peur de télécharger votre recette, même si elle n'est pas parfaite. Personne n’aura jamais honte ici parce que dans notre sympathique
                les membres de la communauté sont disposés à aider et à conseiller les cuisiniers sans expérience.
            </p>
        </div>
    </div>
</div>
